<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cifom_et.myvoc">

    <!-- Permission list -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- configChanges => disable auto app reset on rotation change -->
        <activity
            android:name=".activities.ActivitySelect"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <!-- Make this activity the main one -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".activities.ActivitySelect"
            android:name=".activities.ActivityQuiz"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.ActivityResult"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:parentActivityName=".activities.ActivitySelect"
            android:name=".activities.ActivitySettings"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
    </application>

</manifest>